<!-- launch file saving video from ROS images -->


<launch>

  <!-- euler attitude conversion node -->
  <node pkg="misc_pkg" type="bag_to_video_file.py" name="video_writer">
    <remap from="/image" to="/image_raw"/>
    <param name="filename" value="aruco_night" />
    <param name="framerate" value="15" />
    <param name="img_width" value="1288" />
    <param name="img_height" value="964" />
  </node>


</launch>
